@charset "UTF-8";

/* font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&display=swap');

/* reset */
body {margin: 0; padding: 0; font-family: 'Noto Sans KR', sans-serif;}
body,html {height: 100%;}
a {text-decoration: none; color: #333;}
ul,ol,li {list-style: none; margin: 0; padding: 0;}
img {width: 100%; display: block; vertical-align: top;}
h1,h2,h3,h4,h5,h6 {margin: 0; padding: 0;}
* {box-sizing: border-box;}
p {margin: 0;}

/* IR 효과 */
.ir_so {overflow: hidden; position:absolute; width:0; height:0; line-height:0; text-indent:-9999px;} 
/* 대체 텍스트가 아닌 접근성을 위한 숨김 텍스트를 제공할 때 */

/* 가운데 영역 */
.container {width: 1120px; margin: 0 auto; position: relative;}
.row {padding: 0 16px;}

/* 공통요소 */
h2 {
  font-family: 'Playfair Display', serif;
  font-size: 52px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 25px;
}
section > div > div > div > p {
  font-size: 18px; 
  color: #333; 
  text-align: center; 
  margin: 0 0 30px 0;
}
.black {
  position: absolute;
  width: 100%; height: 100%;
  left: 0; top: 0;
  background-color: rgba(0,0,0,0.6);
}

/* 레이아웃 */
#header {
  position: absolute;
  left: 0; top: 0;
  width: 100%;
  z-index: 100;
  background-color: rgba(0,0,0,0.2);
  border-bottom: 1px solid #555;
}
#banner {}
#movie {padding: 100px 0;}
#news {padding: 100px 0; background-color: #E7E7E7;}
#today {padding: 100px 0;}
#event {padding: 100px 0; background: url(../img/night.png) no-repeat center center; background-size: cover;}
#best {padding: 100px 0; background-color: #E7E7E7;}
#cinema {padding: 100px 0;}
#footer {background-color: #E7E7E7;}

/* skip */
#skip {position: relative; z-index: 50;}
#skip >  a {
  position: absolute;
  left: 0; top: -40px;
  width: 140px;
  line-height: 30px;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  background-color: #333;
}
#skip a:active, #skip a:focus {top: 0;}

/* header */
.header {}

  /* logo */
  .logo {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-65%,-50%);
    width: 80px; height: 80px;
  }

  /* header_top */
  .header_top {
    display: flex; 
    justify-content: space-between; 
    padding: 10px 0; 
  }
  .header_top > div > a {
    display: inline-block;
    color: #b9b9b9; 
    font-size: 13px;
  }
  .header_top .left a {margin-right: 12px;}
  .header_top .right a {margin-left: 12px;}

  /* header_bom */
  .header_bom {padding: 12px;}

  .header_bom .icon {display: flex; justify-content: space-between;}
  .header_bom .icon a {color: #fff; font-size: 18px;}

  .header_bom .gnb.open {
    padding: 0 120px; 
    display: flex; 
    justify-content: space-between;
    margin-top: -25px;
  }
  .header_bom .gnb.open ul {display: flex;}
  .header_bom .gnb.open ul li {position: relative;}
  .header_bom .gnb.open ul li a {
    color: #fff; 
    font-size: 18px;
    padding: 0 30px;
  }
  .header_bom .gnb {display: none;}

  .sub_sub {
    display: none;
    position: absolute;
    left: 0; top: 150%;
    height: 50px; 
    z-index: 30;
  }
  .sub_sub li {width: 120px; text-align: center;}
  .sub_sub li a {
    display: inline-block;
    color: #999 !important;
    padding: 10px 0 !important;
  }
  .sub_sub li a:hover {color: #fff !important;}

  .sub_black {
    display: none;
    width: 100%; height: 50px;
    position: absolute; 
    background-color: rgba(0,0,0,0.7);
    left: 0; top: 97px; 
    z-index: 20;
  }

  /* gnb2 */
  .header_bom .gnb_l {
    display: none;
   left: -100%;
  }
  .header_bom .gnb_l.open2 {
    display: block;
    position: absolute;
    top: 100%; width: 50%;
  }
  .header_bom .gnb_l.open2 ul {
    background-color: rgba(0,0,0,0.7);
    height: 600vh;
  }
  .header_bom .gnb_l.open2 ul li {
    border-bottom: 1px solid #666;
  }
  .header_bom .gnb_l.open2 ul li a {
    display: block;
    color: #fff;
    font-size: 20px;
    padding: 10px 0 10px 30px;
    transition: all 0.2s; 
  }
  .header_bom .gnb_l.open2 ul li a:hover {
    color: #333;
    background-color: #fff;
  }

/* banner */
.slider {width: 100%; height: 800px;}

/* .slider .ss1 {background: url(../img/banner1.jpg) no-repeat center center; background-size: cover;}
.slider .ss2 {background: url(../img/friend1.png) no-repeat center center; background-size: cover;} */
.slider .ss3 {background: url(../img/banner3.jpg) no-repeat center center; background-size: cover;}

/* movie */
.movie {}

  /* movie_title */
  .movie_title {
    margin-bottom: 30px; 
    display: flex; 
    justify-content: center;
  }
  .movie_title ul li {
    display: inline-block;
    text-align: center;
    width: 100px;
    margin: 0 10px;
  }
  .movie_title ul li a {
    display: block;
    font-size: 18px;
    color: #333;
    padding: 5px 0;
  }
  .movie_title ul li.active a {border-bottom: 2px solid #000;}

  /* movie_chart */
  .movie_chart {overflow: hidden;}

  .movie_chart > div > div {display: flex;}
  .movie_chart > div > div > div {width: 260px; margin-right: 16px;}
  .movie_chart > div > div > div:last-child {margin-right: 0;}

  .poster {position: relative;}
  .poster figure {margin: 0; box-shadow : 5px 5px  8px rgba(0,0,0,0.2);}
  .poster .rank {position: absolute; left: 0; top: 0; width: 50px;}
  .poster .infor {
    position: absolute; 
    bottom: 0; left: 0; 
    width: 100%; 
    background-color: rgba(0,0,0,0.4);
    color: #fff;
    text-align: center;
    padding: 15px 0;
  }
  .poster .infor strong {font-size: 18px; font-weight: normal;}
  .poster .infor p {font-size: 12px; margin-top: 5px; color: #ddd;}

  .click {}
  .click a {
    display: block; 
    width: 100%; 
    text-align: center;
    padding: 8px;
    font-size: 14px;
    border-radius: 5px;
    transition: all 0.3s;
  }
  .click a.gray {background-color: #707070; color: #fff; margin-top: 15px;}
  .click a.white {
    background-color: #fff; 
    border: 1px solid #707070; 
    color: #707070; 
    margin-top: 8px;
  }


  /* movie_more */
  .movie_more {text-align: center; margin-top: 40px;}
  .movie_more a {
    display: inline-block; 
    border-bottom: 1px solid #666; 
    color: #666; 
    padding: 0 10px 5px 10px;
  }

/* news */
.news {}

  .news_box {display: flex;}
  .news_box > div {margin-right: 2%; width: 32%; position: relative;}
  .news_box > div:last-child {margin-right: 0;}

    /* news_img */
    .news_img {}

    /* news_txt */
    .news_txt {background-color: #fff; padding: 18px 25px;}
    .news_txt p {
      color: #666;
      font-weight: 500;
      margin-bottom: 5px; 
      width: 100%; 
      text-overflow: ellipsis; 
      white-space: nowrap; 
      overflow: hidden;
    }
    .news_txt span {font-size: 14px; color: #999;}

    /* news_n */
    .news_n {
      position: absolute;
      left: 10px; top: -8px;
      width: 30px;
    }

  /* news_more */
  .news_more {text-align: center; margin-top: 40px;}
  .news_more a {
    display: inline-block; 
    border-bottom: 1px solid #666; 
    color: #666; 
    padding: 0 10px 5px 10px;
  }

/* today */
.today {}

.today_box {display: flex;}
.today_box > div {}

/* today_left */
.today_left {margin-right: 3%; width: 35%;}
.today_left .today_poster {box-shadow : 8px 8px 12px rgba(0,0,0,0.2); border-radius: 8px;} 

.today_left .today_poster img {border-radius: 8px;}
.today_left .today_click {margin-top: 20px; text-align: center;}
.today_left .today_click a {
  display: inline-block;
  background-color: #ddd;
  width: 48%;
  margin-right: 2%;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
}
.today_left .today_click a.t_gray {background-color: #707070; color: #fff;}
.today_left .today_click a.t_white {
  margin-right: 0;
  background-color: #fff; 
  border: 1px solid #707070; 
  color: #707070; 
}

/* today_right */
.today_right {width: 67%; color: #707070;}

  .right_main {position: relative;}
  .right_main p {font-size: 20px;}
  .right_main h3 {font-size: 36px; font-weight: normal; display: inline;}
  .right_main span {
    font-size: 18px; 
    font-family: 'Noto Sans JP', sans-serif; 
    margin-left: 10px;
  }
  .right_main::after {
    content: '';
    position: absolute;
    left: 0; bottom: -10px;
    width: 100%; height: 2px;
    background-color: #707070;
  }

  .right_infor {margin: 30px 0;}

  .right_infor2 {margin-bottom: 60px;}
  .right_infor2 h4 {font-size: 18px; margin-bottom: 5px;}
  .right_infor2 p {font-size: 14px;}

  .right_infor3 {display: none;}

  .right_img {display: flex;}
  .right_img > div {
    width: 23.5%; 
    margin-right: 2%; 
    position: relative;
    transition: all 0.2s;
  }
  .right_img > div:last-child {margin-right: 0;}
  .right_img > div:hover {margin-top: -15px;}
  .right_img > div:hover .rm_txt {display: none;}

  .rm_img img {border-radius: 8px;}
  .rm_rank {
    position: absolute; 
    left: 8px; top: -5px; 
    width: 25px; 
    z-index: 10;
  }

  .rm_txt {
    transition: all 0.3s;
    position: absolute; 
    left: 0; top: 0; 
    width: 100%; height: 100%; 
    background-color: rgba(0,0,0,0.45); 
    border-radius: 12px;
    color: #fff; 
    text-align: center;
    padding: 40px 0;
  }
  .rm_txt p {
    margin-bottom: 20px; 
    font-size: 18px; 
    width: 100%; 
    text-align: center;
  }
  .rm_txt span {font-size: 14px;}

/* event */
.event h2 {color: #fff;}
.event p {color: #999;}

  .event_box {display: flex; flex-wrap: wrap;}
  .event_box > div {
    position: relative;
    width: 26.666%; 
    margin-right: 10%; 
    border-radius: 50%; 
    padding-top: 26.666%;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
  }
  .event_box > div:nth-child(1) {background: url(../img/banner1.png);}
  .event_box > div:nth-child(2) {background: url(../img/banner2.png);}
  .event_box > div:nth-child(3) {background: url(../img/banner3.png); margin-right: 0;}

  .event_box > div:hover .img_et {display: block;}
  .event_box > div .img_et {
    display: none;
    background-color: rgba(0,0,0,0.7);
    border-radius: 50%;
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%,-50%);
    text-align: center; 
    width: 100%; height: 100%;
    padding: 60px 0;
  }
  .event_box > div .img_et strong {color: #fff; font-size: 24px;}
  .event_box > div .img_et p {font-size: 18px; margin: 20px 0;}
  .event_box > div .img_et a {color: #ddd; font-size: 18px;}

/* best */
.best {}
.best_box {display: flex;}

  .best_l {width: 64.33%; margin-right: 1.47%; display: flex; flex-direction: column;}
  .best_lt {margin-bottom: 1.8%; padding-top: 56.25%; position: relative;}
  .best_lt iframe {width: 100%; height: 100%; position: absolute; left: 0; top: 0;}
  .best_lm {display: flex;}
  .best_lm > a {
    width: 32%; 
    padding-top: 17.732%;
    margin-right: 2%;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
  }

  .best_lm > a:nth-child(1) {background: url(../img/click1.jpg);}
  .best_lm > a:nth-child(2) {background: url(../img/click2.jpg);}
  .best_lm > a:nth-child(3) {background: url(../img/click3.jpg); margin-right: 0;}


  .best_r {
    background-color: #fff; 
    padding: 23px 21px; 
    width: 34.20%; 
    /* padding-top: 48.748%; */
    box-sizing: border-box;
  }

    /* best_tit */
    .best_tit {font-size: 29px;}

    /* best_date */
    .best_date {font-size: 14px; margin-bottom: 12px; display: block;}

    /* best_star */
    .best_star {display: flex; align-items: center; margin-bottom: 12px;}
      .star_img {width: 98px; margin-right: 10px;}
      .best_star p {font-size: 15px; font-weight: 700;}

    /* best_sum */
    .best_sum {font-size: 14px;}
    .best_sum2 {font-size: 14px; margin: 30px 0;}

    /* best_sel */
    .best_sel {overflow: hidden;}
      .sel1 {float: left; width: 49%; margin-right: 2%;}
      .sel2 {float: left; width: 49%;}
      .sel3 {float: left; width: 100%; margin-top: 2%;}

      .select2d {
        width: 100%; height: 36px;
        color: #fff;
        background: #2c2f34 url(../img/down.svg) no-repeat right 10px center;
        background-size: 10px;
        display: inline-block;
        padding: 0 10px;
        border: 0;
        font-family: inherit;
        font-size: inherit;
        vertical-align: middle;
        text-align-last: left;
        white-space: nowrap;
        margin: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
      .input3 {
        background: #2c2f34;
        color: #fff;
        border: 0;
        width: 100%; height: 36px;
        padding: 0 10px;
      }

    /* best_btn */
    .best_btn {display: flex; margin-top: 2%;}
      .best_btn a {
        width: 49%; 
        display: block; 
        box-sizing: border-box; 
        text-align: center;
        padding: 10px 0;
        transition: all 0.3s;
      }
      .best_btn a:nth-child(1) {
        margin-right: 2%;
        background-color: #fff;
        color: #8661A6; 
        border: 1px solid #8661A6;
      }
      .best_btn a:nth-child(1):hover {
        background-color: #8661A6;
        color: #fff; 
      } 
      .best_btn a:nth-child(2) {
        background-color: #8661A6; 
        color: #fff; 
        border: 1px solid #8661A6;
      }
      .best_btn a:nth-child(2):hover {
        background-color: #fff;
        color: #8661A6; 
      } 

/* cinema */
.cinema {}
.cinema_box > div {margin-bottom: 80px;}

  /* grand */
  .grand {
    background: url(../img/cinema_d.png) no-repeat center center/cover; 
    padding: 60px 0;
  }
  .grand .opening {width: 70%; margin: 0 auto; margin-bottom: 60px;}
  .grand .grand_box {display: flex; width: 70%; margin: 0 auto;}
  .grand .grand_box > div {
    border: 1px solid #fff; 
    border-radius: 10px;
    width: 30%; padding-top: 18%;
    margin-right: 5%;
    text-align: center;
    background-color: rgba(0,0,0,0.6);
    position: relative;
    transition: all 0.3s;
  }
  .grand .grand_box > div:last-child {margin-right: 0;}

  .gb_txt {position: absolute; left: 5%; top: 13%; width: 90%;}
  .gb_txt  strong {color: #fff; font-size: 18px;}
  .gb_txt  span {
    color: #ddd; 
    font-size: 18px;
    margin: 8px 0; 
    display: block;
  }
  .gb_txt  p {color: #ddd; font-size: 14px;}
  .gb_new {
    position: absolute;
    left: 10px; top: -10px;
    width: 50px;
  }
  .grand .grand_box > div:hover {background-color: #fff}
  .grand .grand_box > div:hover strong {color: #333;}
  .grand .grand_box > div:hover span {color: #666;}
  .grand .grand_box > div:hover p {color: #666;}

  /* notice */
  .notice {
    border-bottom: 2px solid #000; 
    display: flex; 
    align-items: center;
    position: relative;
    padding: 0 5px 10px 5px;
  }
  .notice strong {font-size: 24px; margin-right: 20px;}
  .notice a {display: flex; justify-content: space-between; color: #666;}
  .notice a.nt1 {}
  .notice a.nt2 {
    position: absolute;
    right: 0; top: 50%;
    transform: translateY(-65%);
  }

  /* quest */
  .quest {display: flex;}
  .quest > div {width: 49%; text-align: center; padding: 50px 0; position: relative;}

  .q_txt {position: relative; z-index: 10;}
  .q_txt strong {font-size: 14px; color: #fff; border-bottom: 1px solid;}
  .q_txt p {font-size: 18px; color: #ddd; margin-top: 15px;}

  .q1 {background: url(../img/notice1.jpg) no-repeat center top -10px/cover; margin-right: 2%;}
  .q2 {background: url(../img/notice2.jpg) no-repeat center center/cover;}

  /* ask */
  .ask {margin-bottom: 0 !important;}
  .ask > ul {display: flex;}
  .ask > ul li {
    width: 18.4%;
    margin-right: 2%; 
    padding-top: 18.4%;
    border-radius: 8px;
    background-color: #F6F6F6;
    position: relative;
  }
  .ask > ul li:last-child {margin-right: 0;}
  .ask > ul li:nth-child(2),.ask > ul li:nth-child(4) {background-color: #FAFAFA;}
  .ask > ul li a {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
  }

  .ask > ul li a span {width: 50px; display: block; margin: 0 auto; margin-bottom: 8px;}
  .ask > ul li a strong {}

/* footer */
.footer {display: flex; padding: 60px 0;}
.footer .logo_f {margin: 0; width: 116px; margin-right: 7%;}

  .footer_l {margin-right: 7%;}
  .fl_main {margin-bottom: 20px;}
  .fl_main li {
    display: inline-block; 
    position: relative; 
    padding-right: 12px; 
    margin-right: 12px;
    font-size: 14px;
    font-weight: 700;
  }
  .fl_main li a {color: #666;}
  .fl_main li::after {
    content: '';
    position: absolute;
    right: 0; top: 5px;
    width: 1px; height: 15px;
    background-color: #666;
  }
  .fl_main li:last-child {margin-right: 0; padding-right: 0;}
  .fl_main li:last-child::after {width: 0;}

  .ft_txt {font-size: 14px; color: #999;}
  .ft_txt p {display: inline-block;}

  .footer_r {border-left: 2px solid #ddd; padding-left: 30px;}
  .footer_r span {font-size: 14px;}
  .footer_r strong {font-size: 24px; display: block; margin-bottom: 10px;}
  .footer_r p {font-size: 14px; color: #999;}

/* 미디어쿼리 */
@media (max-width: 1146px) {

  /* 기본 레이아웃 */
  .container {width: 100%;}

}

@media (max-width: 1120px) {

  /* best */
  .best_r {padding-top: 46%; position: relative;}
  .best_txt {position: absolute; left: 5%; top: 3%; width: 90%;}
  .best_tit {font-size: 2.4vw;}
  .best_date {font-size: 1.2vw; margin-bottom: 1.2vw;}
  .best_star {margin-bottom: 1.2vw;}
  .star_img {width: 8vw;}
  .best_star p {font-size: 1.5vw;}
  .best_sum {font-size: 1.3vw;}
  .best_sum2 {font-size: 1.3vw; margin: 1.2vw 0;}
  .best_btn {height: 3.4vw;}
  .best_btn a {padding: 0.5vw 0; font-size: 1.5vw;}

  .select2d {height: 3.2vw; font-size: 1.2vw;}
  .input3 {height: 3.2vw; font-size: 1.2vw;}

  .gb_txt {top: 1vw;}
  .gb_txt  strong {font-size: 1.6vw;}
  .gb_txt  span {font-size: 1.4vw; margin: 0.5vw 0;}
  .gb_txt  p {font-size: 1.4vw;}

  .event_box {width: 90%; margin: 0 auto;}
  .event_box > div {margin-right: 5%; width: 30%; padding-top: 30%;}

  /* footer */
  .footer .logo_f {margin-right: 5%;}
  .footer_l {margin-right: 5%;}
}

@media (max-width: 1024px) {

  /* header */
  .logo {width: 150px; height: 45px;}
  .logo > a > img {content: url(../img/logo-l.png);}
  .header_top {display: none;}
  .header_bom .icon a {font-size: 24px;}

  /* banner */
  .slider {height: 600px;}
  .swiper-button-prev, .swiper-button-next {
    width: 27px !important; 
    height: 44px !important; 
    background-size: 27px 44px !important;
  }

  /* event */
  .event_box > div .img_et {padding: 50px 0;}
  .event_box > div .img_et strong {font-size: 20px;}
  .event_box > div .img_et p {margin: 16px 0; font-size: 16px;}
  .event_box > div .img_et a {font-size: 14px;}

  /* today */
  .today_left .today_click a {font-size: 14px;}
  .right_main h3 {font-size: 30px;}

  /* footer */
  .footer {padding: 30px 0;}
  .footer p {font-size: 12px;}
  .fl_main li {font-size: 12px;}
  .fl_main li::after {height: 12px;}

}
@media (max-width: 960px) {

  /* 기본 레이아웃 */
  #movie {padding: 80px 0;}
  #news {padding: 80px 0;}
  #today {padding: 80px 0;}
  #event {padding: 80px 0;}
  #best {padding: 80px 0;}
  #cinema {padding: 80px 0;}
  .row {padding: 0 24px;}
  h2 {font-size: 40px;}

  /* banner */
  .swiper-pagination-bullet {width: 15px !important; height: 15px !important;}

  /* today */
  .today {padding-bottom: 320px;}
  .today_box {position: relative;}
  .today_left .today_click {display: none;}

  .right_infor2 {display: none; margin-bottom: 0;}
  .right_infor2 h4 {font-size: 24px;}
  .right_infor2 p {font-size: 16px;}
  .right_infor3 {display: block;}
  .right_img {position: absolute; bottom: -320px; left: 0;}

  .rm_txt {padding: 50px 0;}
  .rm_txt p {font-size: 22px;}
  .rm_txt span {font-size: 14px;}

  /* event */
  .event_box > div .img_et {padding: 45px 0;}
  .event_box > div .img_et strong {font-size: 18px;}
  .event_box > div .img_et p {margin: 12px 0; font-size: 14px;}
  .event_box > div .img_et a {font-size: 14px;}

  /* cinema */
  .cinema_box > div {margin-bottom: 60px;}
  .grand .opening {margin-bottom: 40px;}
  .q_txt p {font-size: 14px;}

  /* footer */
  .footer {flex-direction: column;}
  .footer .logo_f {margin: 0 auto;}
  .footer_r {display: none;}
  .footer_l {text-align: center; margin-right: 0; width: 100%; margin-top: 20px;}
  .fl_main li {font-size: 16px;}
  .ft_txt p {font-size: 14px;}

}
@media (max-width: 768px) {

  /* 기본 레이아웃 */
  #movie {padding: 40px 0;}
  #news {padding: 40px 0;}
  #today {padding: 40px 0;}
  #event {padding: 40px 0;}
  #best {padding: 40px 0;}
  #cinema {padding: 40px 0;}
  h2 {font-size: 30px;}

  /* header */
  .logo {width: 120px; height: 35px;}
  .header_bom {padding: 8px 0;}

  /* banner */
  .slider {height: 400px;}

  /* movie */
  .movie_title ul li a {font-size: 16px;}

  /* news */
  .news_box {flex-direction: column;}
  .news_box > div {margin-right: 0; width: 100%; margin-bottom: 5%;}
  .news_box > div:last-child {margin-bottom: 0;}
  .news_txt {display: flex; justify-content: space-between; align-items: center;}
  .news_txt p {margin-bottom: 0; width: 80%; font-size: 18px;}
  .news_txt span {font-size: 14px; width: 20%; text-align: right;}
  .news_n {width: 6vw;}

  /* today */
  .today {padding-bottom: 0;}
  .today_box {display: block;}

  .today_left {display: none;}
  .today_right {width: 100%;}

  .right_img > div:hover {margin-top: 0px;}
  .right_img > div:hover .rm_txt {display: block;}
  .right_img > div .rm_txt {display: block; padding: 2vw 1vw;}

  .right_main {display: none;}
  .right_infor {display: none;}
  .right_infor3 {display: none;}
  .right_img {position: static; flex-wrap: wrap;}
  .right_img > div {width: 49%; margin-right: 2%;}
  .right_img > div:nth-child(2),.right_img > div:nth-child(4) {margin-right: 0;}
  .right_img > div:nth-child(1),.right_img > div:nth-child(2) {margin-bottom: 2%;}

  .rm_rank {width: 50px;}
  .rm_txt {
    padding: 2vw; 
    height: 30%; 
    top: 70%; 
    border-top-left-radius: 0px; 
    border-top-right-radius: 0px;
  }
  .rm_txt p {margin-bottom: 8px; font-size: 3vw}
  .rm_txt span {font-size: 2vw;}
  .rm_txt span br {display: none;}

  /* best */
  .best_box {flex-direction: column;}
  .best_l {width: 100%; margin-right: 0; flex-direction: column-reverse;}
  .best_lt {margin-bottom: 0; margin-top: 2%;}
  .best_r {width: 100%; margin-top: 4%; padding-top: 80%;}

    .best_txt {top: 5%;}
    .best_tit {font-size: 4vw;}
    .best_date {font-size: 2vw; margin-bottom: 2vw;}
    .best_star {margin-bottom: 2vw;}
    .star_img {width: 15vw;}
    .best_star p {font-size: 2.2vw;}
    .best_sum {font-size: 2.2vw;}
    .best_sum2 {font-size: 2.2vw; margin: 3vw 0;}
    .best_sel {}
    .best_btn {height: auto;}
    .best_btn a {padding: 1.2vw 0; font-size: 2.5vw;}
  
    .select2d {height: 6vw; font-size: 2vw;}
    .input3 {height: 6vw; font-size: 2vw;}
  

  /* event */
  .event_box > div .img_et {padding: 3.5vw 0;}
  .event_box > div .img_et strong {font-size: 2vw;}
  .event_box > div .img_et p {margin: 12px 0; font-size: 1.5vw;}
  .event_box > div .img_et a {font-size: 1.5vw;}

  /* cinema */
  .cinema_box > div {margin-bottom: 40px;}
  .quest {flex-wrap: wrap;}
  .quest > div {width: 100%;}
  .q1 {margin-bottom: 3%; margin-right: 0;}
  .q_txt p {font-size: 3.5vw;}
  .q_txt strong {font-size: 3vw;}

  .grand .grand_box {flex-direction: column; width: 90%;}
  .grand .grand_box > div {width: 100%; margin-bottom: 4%;}
  .gb_txt strong {font-size: 3vw;}
  .gb_txt span {font-size: 2vw;}
  .gb_txt p {font-size: 2vw; margin: 1vw 0;}
  .gb_txt p br {display: none;}

  .ask > ul li {width: 23.5%; padding-top: 23.5%;}
  .ask > ul li:nth-child(4) {margin-right: 0;}
  .ask > ul li:last-child {display: none;}
  .ask > ul {flex-wrap: wrap;}
  .ask > ul li {width: 49%; padding-top: 49%; text-align: center;}
  .ask > ul li:nth-child(2) {margin-right: 0;}
  .ask > ul li:nth-child(3) {background-color: #FAFAFA;}
  .ask > ul li:nth-child(4) {background-color: #F6F6F6;}
  .ask > ul li:nth-child(1),.ask > ul li:nth-child(2) {margin-bottom: 2%;}
  .ask > ul li a span {width: 60px; margin-bottom: 12px;}
  .ask > ul li a strong {font-size: 22px;}

  /* ad */
  #ad img {content: url(../img/gangreng2.png);}

  /* footer */
  .footer .logo_f {width: 80px;}
  .footer_l {margin-top: 10px;}
  .fl_main li {font-size: 14px;}

}
@media (max-width: 600px) {

  /* 기본 레이아웃 */
  #movie {padding: 20px 0;}
  #news {padding: 20px 0;}
  #today {padding: 20px 0;}
  #event {padding: 20px 0;}
  #best {padding: 20px 0;}
  #cinema {padding: 20px 0;}
  h2 {font-size: 22px; margin-bottom: 20px;}
  section > div > div > div > p {display: none;}

  /* banner */
  .swiper-button-prev, .swiper-button-next {display: none !important;}
  .swiper-pagination-bullet {width: 12px !important; height: 12px !important;}
  .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {bottom: 15px !important;}
  .slider {height: 600px;}
  .swiper-slide:after {display: none;}


  /* movie */
  .movie_title {justify-content: start; width: 100%;}
  .movie_title ul {display: flex; width: 100%;}
  .movie_title ul li {
    width: 25%; 
    margin: 0; 
    border: 1px solid #ddd; 
    box-sizing: border-box;
    margin-right: -1px;
  }
  .movie_title ul li.active a {
    box-sizing: border-box;
    background-color: #666; 
    border: 0;
    color: #fff;  
  }
  .movie_more {display: none;}

  /* news */
  .news_more {display: none;}

  /* today */
  .right_img > div {
    width: 100%; 
    margin-right: 0; 
    margin-bottom: 5% !important; 
    box-shadow: none;
  }
  .right_img > div:nth-child(4) {margin-bottom: 0 !important;}
  .rm_txt {
    padding: 25px; 
    background-color: rgba(0,0,0,0.6); 
    height: 25%;
    top: 75%;
  }
  .rm_txt p {font-size: 5vw; margin-bottom: 15px;}
  .rm_txt span {font-size: 3.5vw; color: #ddd;}

  .rm2, .rm3, .rm4 {display: none;}

  .right_img > div .rm_txt {display: block; padding: 4.5vw 2vw;}

  /* cinema */
  .grand {padding: 40px 0;}
  .grand .grand_box {display: none;}
  .grand .opening {margin: 0 auto; width: 90%;}

  .notice {flex-direction: column; padding-right: 0; padding-left: 0;}
  .notice a.nt2 {display: none;}
  .notice strong {font-size: 18px; margin-right: 0; margin-bottom: 10px;}

  /* footer */
  .footer .logo_f {display: none;}
  .fl_main li {font-size: 12px;}
  .ft_txt p {font-size: 12px;}

     /* event */
  .event_box > div {
    width: 100%; 
    margin: 0 !important; 
    padding-top: 100% !important; 
    margin-bottom: 10% !important;
  }
    /* event */
    .event_box > div .img_et {padding: 16vw 0;}
    .event_box > div .img_et strong {font-size: 6vw;}
    .event_box > div .img_et p {margin: 6vw 0; font-size: 5vw;}
    .event_box > div .img_et a {font-size: 5vw;}

    .event_box > div:nth-child(2),.event_box > div:nth-child(3) {display: none;}

    .best_r {padding-top: 115%;}
    .best_tit {font-size: 6vw;}
    .best_date {font-size: 3vw; margin-bottom: 3vw;}
    .best_star {margin-bottom: 3vw;}
    .star_img {width: 15vw;}
    .best_star p {font-size: 3vw;}
    .best_sum {font-size: 3vw;}
    .best_sum2 {font-size: 3vw; margin: 3vw 0;}
    .best_sel {}
    .best_btn {height: auto;}
    .best_btn a {padding: 2vw 0; font-size: 3vw;}
  
    .select2d {height: 7vw; font-size: 3vw;}
    .input3 {height: 7vw; font-size: 3vw;}

}
@media (max-width: 480px) {

  .header_bom .gnb_l.open2 ul li a {
    font-size: 16px;
    padding: 10px 0 10px 30px;
    width: 60%;
  }

  /* news */
  .news_txt {display: block;}
  .news_txt p {margin-bottom: 5px; width: 100%; font-size: 16px;}
  .news_txt span {font-size: 14px;}

  /* today */
  .rm_txt {display: none;}
  .rm_rank {width: 30px;}

  
  /* cinema */
  /* .ask > ul li {width: 100%; padding-top: 100%;}
  .ask > ul li:nth-child(1) {margin-right: 0;}
  .ask > ul li:nth-child(3) {background-color: #F6F6F6; margin-right: 0;}
  .ask > ul li:nth-child(4) {background-color: #FAFAFA;}
  .ask > ul li:nth-child(1),.ask > ul li:nth-child(2),.ask > ul li:nth-child(3) {margin-bottom: 4%;} */

  .quest > div {padding: 30px 0;}

  .best_r {display: none;}

  .ask > ul li a strong {font-size: 5vw;}
  .rm_txt p {margin-bottom: 1vw;}

}
@media (max-width: 320px) {

  /* event */

  .right_img > div .rm_txt {display: none;}
  .right_img > div:hover .rm_txt {display: none;}

  .q_txt p {display: none;}
  .q_txt strong {font-size: 20px;}

}