@charset "UTF-8";

/* font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


/* reset */
body {margin: 0; padding: 0; font-family: 'Noto Sans KR', sans-serif; background-color: #2A3260;}
a {text-decoration: none; color: #000;}
ul,ol,li {list-style: none; margin: 0; padding: 0;}
h1,h2,h3,h4,h5,h6 {margin: 0; padding: 0;}
img {width: 100%; vertical-align: top;}
p {margin: 0;}

#container {position: relative; min-width: 1480px;}

/* common */
.inner {width: 1280px; margin: 0 auto;}
.main_txt {margin-bottom: 50px;}
.main_txt>strong {font-size: 120px; color: rgba(255,255,255,0.2);}
.main_txt>p {
  font-size: 32px;
  display: inline; 
  color: #fff; 
  margin-left: -25px;
  font-family: 'Roboto Mono', monospace;
}
.main_txt_r {display: flex; justify-content: flex-end; align-items: baseline;}
.main_txt_r>p {margin-left: 0; margin-right: -25px;}

/* header */
#header {
  /* border-bottom: 1px solid #666;  */
  background-color: transparent;
  position: fixed; 
  left: 0; top: 0;
  width: 100%;
  z-index: 2;
}
#header.color {background-color: rgba(0,0,0,0.4); border-bottom: 0;}
.header {
  display: flex; 
  padding: 10px 80px; 
  justify-content: space-between; 
  align-items: center;
}
  .logo {}
    .logo>a {color: #fff; font-size: 20px; display: block; font-weight: normal;}
  .gnb {display: flex;}
    .gnb>li {}
    .gnb>li>a {color: #fff; margin: 0 20px;}

/* banner */
#banner {background: url(../img/Untitled-1.png) no-repeat center center/cover;}
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 160px 0; 
  box-sizing: border-box;
}

.b_left {}

.bl_txt {}
  .bl_txt>span {
    display: block; 
    color: #FFE356; 
    font-size: 32px;
    font-family: 'Lobster', cursive;
  }
  .bl_txt>strong {
    position:relative;
    display: inline-block;
    font-size: 90px; 
    color: #fff; 
    font-family: 'Lobster', cursive;
    line-height: 1.2;
    font-weight: normal;
    padding-bottom: 40px;
  }

  .bl_txt>p {
    color: #fff; 
    position: relative;
    display: block;
    font-size: 18px;
    padding: 50px 0;
  }

  .bl_txt>strong::after {
    content: '';
    background-color: #fff;
    width: 90px; height: 2px;
    position: absolute;
    left: 0; bottom: 0;
  }
  .port_btn {
    display: inline-block;
    background-color: #fff;
    border: 1px solid #fff;
    padding: 5px 30px;
    color: #000;
    font-weight: bold;
  }
  .port_btn:hover {background-color: transparent; color: #fff;}

.b_right {width: 600px; height: 600px;}

/* about */
#about {
  transform: skewY(6deg); 
  background: #141A34 url(../img/Untitled-3.png) no-repeat center center/cover;
}
.about {transform: skewY(-6deg); padding: 100px 0;}

  /* about_box */
  .about_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

    /* about_l */
    .about_l {
      width: 550px; height: 550px; 
      margin-top: 80px;
      transition: all 1s;
      opacity: 0;
    }
    .about_l.up {margin-top: 0; opacity: 1;}

    /* about_r */
    .about_r {
      margin-top: 80px;
      transition: all 1s;
      opacity: 0;
    }
    .about_r.up {margin-top: 0; opacity: 1;}

    .about_r>div {}
    .about_r>div>p {
      color: #FFE356; 
      border-bottom: 1px solid; 
      font-size: 22px; 
      display: block; 
      padding-bottom: 10px; 
      margin-bottom: 20px;
    }

      /* about_t */
      .about_t {margin-bottom: 50px;}

      .pro {color: #fff; font-size: 18px;}
      .pro>li {margin-bottom: 15px;}
      .pro>li:nth-child(4) {margin-bottom: 0;}
      .pro>li>span:nth-child(1) {width: 100px; display: inline-block;}
      .pro>li>span:nth-child(2) {}

      /* about_b */
      .about_b {}

      .lic {color: #fff; display: flex; font-size: 18px;}

      .lics {}
      .lics>li {margin-bottom: 15px;}
      .lics>li:nth-child(4) {margin-bottom: 0;}
      .lics>li>span:nth-child(1) {width: 100px; display: inline-block;}
      .lics>li>span:nth-child(2) {}

      .lics1 {margin-right: 70px;}

/* skill */
#skill {background: #141A34 url(../img/Untitled-1.png) no-repeat center center/cover; transform: skewY(6deg);}
.skill {transform: skewY(-6deg); padding: 0 0 200px 0;}

.skill_box {
  display: flex; 
  justify-content: center; 
  flex-wrap: wrap;
  margin: 0 auto;
}
.skill_box>div {
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  margin-right: 240px;
  margin-bottom: 90px;
  text-align: center;
}
.skill_box>div:nth-child(3), .skill_box>div:nth-child(6) {margin-right: 0;}
.skill_box>div:nth-child(4), .skill_box>div:nth-child(5), .skill_box>div:nth-child(6) {margin-bottom: 0;}

.sb_img {
  width: 180px;
  position: relative;
  margin-bottom: 20px;
}

.sb_txt {color: #fff; font-size: 24px;}

/* website */
#website {transform: skewY(6deg); background: #3E4651 url(../img/Untitled-4.png) no-repeat center center/cover;}
.website {transform: skewY(-6deg); padding: 100px 0 200px 0;}

.website_box {}
.website_box>div {
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  margin-bottom: 200px;
}
  .wb_img {
    width: 700px; 
    margin-left: -60px; 
    transition: all 2s; 
    opacity: 0;
  }
  .wb_txt {
    text-align: center; 
    margin-right: -60px; 
    transition: all 2s; 
    opacity: 0;
  }
  .wb2>.wb_img {margin-right: -60px;}
  .wb2>.wb_txt {margin-left: -60px;}

    .wb_txt>strong {color: #fff; font-size: 24px; font-weight: normal;}
    .wb_txt>strong>span {font-size: 34px; margin-right: 15px;}
    .wb1>.wb_txt>strong>span {color: #0090e7;}
    .wb2>.wb_txt>strong>span {color: #c6947b;}
    .wb3>.wb_txt>strong>span {color: #f9ca00;}

    .wb_p {
      display: flex; 
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-top: 50px;
    }
    .wb_pb {
      text-align: left; 
      color: #ddd;
      margin-top: 40px;
    }
    .wb_pb>p {margin-bottom: 10px; color: #fff;}
    .wb_pb>p:last-child {margin-bottom: 0;}
    .wb_pb>p>span {width: 100px; display: inline-block; font-weight: bold;}

    .wb_pt {}
    .wb_pt>p {color: #fff; font-size: 20px;}
    .wb_pt>p:nth-child(1) {margin-bottom: 30px;}
    .wb_pt>p:nth-child(2) {color: #999; font-size: 16px;}

    .wb_btn {display: flex; justify-content: center; margin-top: 50px;}
      .wb_btn>a {
        display: inline-block;
        background-color: #000;
        color: #fff;
        padding: 8px 45px;
        border-radius: 20px;
        margin: 0 15px;
      }
      .wb_btn>a:hover {background-color: #fff; color: #000;}

      .website_box>div:nth-child(3) {margin-bottom: 0;}

      .wb_img.move {margin-left: 0; opacity: 1;}
      .wb_txt.move2 {margin-right: 0; opacity: 1;}

      .wb2>.wb_img.move3 {margin-right: 0; opacity: 1;}
      .wb2>.wb_txt.move4 {margin-left: 0; opacity: 1;}

      

/* about */
#design {
  transform: skewY(6deg); 
  height: 1154px; 
  box-sizing: border-box; 
  background: #212933 url(../img/Untitled-1.png) no-repeat center center/cover;
}
.design {transform: skewY(-6deg); padding: 100px 0 200px 0;}

.design_box {display: flex; flex-wrap: wrap;}
.design_box>div {
  position: relative;
  width: 305px; height: 305px; 
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transition: all 1s;
  margin-top: 160px;
  opacity: 0;
}
.design_box>div.up {margin-top: 0; opacity: 1;}


.design_box>div:nth-child(4),.design_box>div:nth-child(8) {margin-right: 0;}
.design_box>div:nth-child(5),.design_box>div:nth-child(6),.design_box>div:nth-child(7),.design_box>div:nth-child(8) {margin-bottom: 0;}

.design_box>div>a {
  opacity: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.7);
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
}
.design_box>div:hover>a {opacity: 1;}

  .db1 {background: url(../img/b1.png);}
  .db2 {background: url(../img/b3.png);}
  .db3 {background: url(../img/b4.png);}
  .db4 {background: url(../img/b5.png);}
  .db5 {background: url(../img/b6.png);}
  .db6 {background: url(../img/b7.png);}
  .db7 {background: url(../img/b8.png);}
  .db8 {background: url(../img/b9.png);}

/* detail */
#detail {background: #081324 url(../img/Untitled-4.png) no-repeat left top/cover; transform: skewY(6deg);}
.detail {transform: skewY(-6deg); padding: 100px 0 200px 0;}

.detail_box {display: flex; justify-content: space-between;}

.detail_l {display: flex;}
  .detail_img {width: 100px;}
  .detail_txt {display: flex; flex-direction: column;}
  .detail_txt>p {
    position: relative;
    color: #ddd; 
    font-size: 20px; 
    margin-left: 80px;
  }
  .detail_txt>p:nth-child(1) {margin-top: 50px;}
  .detail_txt>p:nth-child(2) {margin-top: 200px;}
  .detail_txt>p:nth-child(3) {margin-top: 180px;}
  .detail_txt>p:nth-child(4) {margin-top: 120px;}
  .detail_txt>p:nth-child(5) {margin-top: 120px;}

  .detail_txt>p::before {
    content: ''; 
    position: absolute; 
    left: -80px; top: 12px; 
    width: 65px; height: 1px; 
    background-color: #fff;
  }

.detail_r {display: flex;}
.detail_r>div {
  width: 200px; 
  margin-right: 20px;
  opacity: 0; 
  margin-top: 220px; 
  transition: all 1.5s;
}
.detail_r>div:last-child {margin-right: 0;}

.detail_r>div:nth-child(1).up {opacity: 1; margin-top: 0;}
.detail_r>div:nth-child(2).up {opacity: 1; margin-top: 60px;}
.detail_r>div:nth-child(3).up {opacity: 1; margin-top: 120px;}


/* detail */
#contact {background: url(../img/Untitled-1.png) no-repeat center center/cover;}
.contact {padding: 100px 0 200px 0;}

.contact_box {
  text-align: center; 
  display: flex; 
  justify-content: center; 
  align-items: center;
}
.contact_box>strong {
  color: #ddd;
  display: block;
  font-weight: normal; 
  font-size: 20px; 
  border-right: 1px solid #fff;
  margin-right: 60px;
  padding-right: 60px;
  line-height: 2;
}
.contact_box>strong>span {color: #fff; font-weight: bold; font-size: 24px;}

.con_txt {}
.con_txt>p {font-size: 24px; color: #fff;}
.con_txt>span {font-size: 18px; color: #ddd; margin-top: 5px; display: block;}

.con_btn {}
.con_btn>a {
  display: inline-block;
  padding: 5px 30px;
  border: 1px solid;
  border-radius: 20px;
  color: #fff; 
  margin: 0 20px;
  font-size: 14px;
  margin-top: 30px;
}
.con_btn>a:hover {background-color: #fff; color: #000;}

/* copy */
#copy {
  background-color: #ddd; 
  color: #666; 
  padding: 30px 0; 
  text-align: center; 
  font-size: 14px;
}
.copy {}

/* popup */
#popup1 {
  display: none;
  position: fixed; 
  z-index: 3;
  left: 0; top: 0; 
  width: 100%; height: 100%; 
  background-color: rgba(0,0,0,0.7);
}
.popup1 {
  position: absolute; 
  left: 50%; top: 50%; 
  transform: translate(-50%,-50%);
}
  .popup_img1 {width: 1300px;}
  .close_btn1 {
    display: block;
    position: absolute;
    right: 0; bottom: -50px;
    color: #fff; 
    font-size: 20px;
  }

  #popup2 {
    display: none;
    position: fixed; 
    z-index: 3;
    left: 0; top: 0; 
    width: 100%; height: 100%; 
    background-color: rgba(0,0,0,0.7);
  }
  .popup2 {
    position: absolute; 
    left: 50%; top: 50%; 
    transform: translate(-50%,-50%);
  }
    .popup_img2 {width: 1300px;}
    .close_btn2 {
      display: block;
      position: absolute;
      right: 0; bottom: -50px;
      color: #fff; 
      font-size: 20px;
    }

    #popup3 {
      display: none;
      position: fixed; 
      z-index: 3;
      left: 0; top: 0; 
      width: 100%; height: 100%; 
      background-color: rgba(0,0,0,0.7);
    }
    .popup3 {
      position: absolute; 
      left: 50%; top: 50%; 
      transform: translate(-50%,-50%);
    }
      .popup_img3 {width: 1300px;}
      .close_btn3 {
        display: block;
        position: absolute;
        right: 0; bottom: -50px;
        color: #fff; 
        font-size: 20px;
      }
